@import url('./normalize.css');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--main-font-size);
}

.container {
	width: 1126px;
	margin: 0 auto;
}

.logo__image {
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px 30px 0px;
}

.menu {
	list-style: none;
	display: flex;
	margin-left: auto;
	font-size: 14px;
}

.menu__item {
	margin-left: 40px;
}

.menu__link {
	text-decoration: none;
	color: #333
}

.nav__buttons {
	display: flex;
	gap: 14px;
	margin-left: 40px;
}

.button__in,
.button__up {
	width: 110px;
	height: 45px;
	border-radius: 4px;
	font-weight: 600;
}

.button__up {
	background: rgb(255, 153, 0);
}

/* _________________________________ */

.section1 {
	margin-top: 30px;
}

.section1__text,
.section1__image {
	display: block;
	width: 50%;
	float: left;
}

.section1__text {
	margin-top: 100px;
}

/* ___________________________________ */

.block1__btn {
	margin-top: 45px;
}

.block1__btn a {
	/* text-decoration: none; */
	color: rgb(255, 153, 0);
	font-weight: 700;
	display: inline-block;
}

.block1__btn a img {
	width: 20px;
	height: 20px;
	padding-right: 10px;
	vertical-align: middle;
}

.btn__started {
	width: 175px;
	height: 53px;
	margin-right: 30px;
	border-radius: 4px;
	background: rgb(255, 153, 0);
	color: #fff;
	font-weight: 700;
	border: none;
	cursor: pointer;
}